@use "./mixins.scss" as *;
@use "./settings.scss" as *;

body {
  @include set-color(background-color, river-styx, 1);
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  height: 100vh;
  padding-left: 9em;
  
  font-size: calc(0.875em + 0.28vw);
  font-family: var(--chivo-family);
  font-weight: lighter;
  line-height: 1.25;
  
  color: rgba(var(--periwinkle-grey));
}

main {
  position: relative;

  width: min(100%, 71em);
  height: min(100%, 36em);

  display: flex;
  flex-direction: column;
}

@media screen and (max-width:$desktop-breakpoint) {
  body {
    padding-left: 2em;
    align-items: flex-start;
  }

  main {
    height: max(75%, 43em)
  }
}

@media screen and (max-width:$tablet-breakpoint) {
  body {
    padding-left: 0em;
    align-items: flex-start;
  }

  main {
    height: 100%;
  }
}