@use "./mixins.scss" as *;

body {
  @include set-color(background-color, river-styx, 1);
  
  display: flex;
  align-items: center;
  justify-content: center;
  
  height: 100vh;
  padding-left: 165px;
  
  font-size: calc(0.875em + 0.28vw);
  font-family: var(--chivo-family);
  font-weight: lighter;
  line-height: 1.25;
  
  color: rgba(var(--periwinkle-grey));
}

main {
  position: relative;

  width: min(100%, 71em);
  height: min(100%, 36em);
}