@forward "./css/reset.scss";
@forward "./css/settings.scss";
@forward "./css/elements.scss";
@forward "./css/email.scss";
@forward "./css/images.scss";
@use "./css/mixins.scss" as *;;
@use "./css/settings.scss" as *;

.content {
  @include set-color(background-color, river-styx, 1);
  position: absolute;
  bottom: 0;
  padding-top: 4em;
  padding-right: 2.5em;
  display: flex;
  flex-direction: column;
}

.heading {
  text-transform: uppercase;
  font-size: var(--font-xl);
  font-weight: var(--lighter-weight);
  
  &--green {
    @include set-color(color, screen-glow, 1);
  }

  &--white {
    @include set-color(color, white, 1);
    display: block;
    margin-bottom: 0.4em;
  }
}

.text {
  max-width: 40ch;
  margin-bottom: 2em;
}

.logos {
  width: 30em;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__image {
    height: 100%;
  }
}

.screen {
  @include set-color(background-color, river-styx, 0.90);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: none;
  z-index: -1;
}

@media screen and (max-width: $desktop-breakpoint) {
  .content {
    padding-right: 2em;
  }

  .heading {
    font-size: var(--font-lg);
  }
}

@media screen and (max-width: $tablet-breakpoint) {
  .content {
    text-align: center;
    width: 100%;
    position: static;
    background-color: transparent;
    margin-bottom: 14%;
    padding-right: 0;
    flex: 1;
    justify-content: center;
    padding-top: 0;
  }

  .text {
    margin-left: auto;
    margin-right: auto;
    font-size: var(--font-sm);
    padding: 0 1ch;
  }

  .heading {
    font-size: var(--font-md);
    padding: 0 1ch;
  }

  .logos {
    max-width: 18em;
    margin: 0 auto;
    margin-bottom: 2.5em;
    height: 2vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .screen {
    display: block;
  }
}